.resources .illustration-resources {
    min-width: 180px;
    border-radius: 8px;
    border: 2px solid #fff;
    box-shadow: 4px 4px, 8px 8px #fff;
}
.shadow-blue {
    color: #528ad5;
}
.shadow-yellow {
    color:  #f0be43;
}
.shadow-red {
    color: #FFACAC;
}
.shadow-violet {
    color: #bfcdff;
}
.shadow-sandle {
    color: #ffcbae;
}
.shadow-green {
    color: #5ca65b;
}

.shadow-cards{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3), 0px 8px 15px rgba(0, 0, 0, .3), 0 0 0 1px rgba(255, 255, 255, 0.4);
    transition: box-shadow 0.25s;
}