.exam-features .illustration {
    min-width: 200px;
    border-radius: 8px;
    border: 2px solid #fff;
    box-shadow: 4px 4px, 8px 8px #fff;
}
.shadow-blue {
    color: #528ad5;
}
.shadow-green {
    color:  #5ca65b;
}
.shadow-yellow {
    color:  #f0be43;
}